
<div class='main-background'>
  <br></br><br></br>
<h1> Welcome to the Crux of your organization!</h1>
<br>

<h4> Communication. Its importance can never really be overstated.</h4>
<h4>It always seems like a simple thing, but somehow it seems that every organization gets bogged down with overcomplicating communication. </h4>
<h4> Many organizations get overwhelmed by email chains, extensive meetings, and misunderstood goals.</h4>
<br>
<h4>This is where Crux comes in.</h4>
<br>
<h4>Crux is a project management application that streamlines your company’s communication onto one platform.</h4>
<h4>It ensures that the entire team is on the same page about what projects you’re working on, what tasks need to be completed for each project, </h4>
<h4> and allows team members to communicate about the projects without getting confused with email chains.</h4>
<h4>Everyone knows what’s going on and what they need to do. Simple. Finally.</h4>
<br>
<div id='bottom-usernav'>
  <h2><%= link_to 'Sign Up', new_user_registration_path %> |
  <%= link_to 'Sign In', new_user_session_path %> </h2>
</div>
</div>