body.home {
  background-image: 
    url('https://i.imgur.com/lFqLgjv.jpg');
  background-size: cover;
} 

h4 {
  color: #000000;  
  text-shadow: 0px 3px 3px #848689;
  text-align: center; 
}

h1 {
  color: #000000; 
  text-shadow: 0px 3px 3px #848689;
  text-align: center;
}
